@import "../../../../../styles/colors.scss";

.error-feedback:last-child {
	margin-bottom: 1.4rem;
}
.error-feedback {
	display: block;
	font-size: 1.2rem;
	font-weight: 600;
	color:$tertiary-color;
}

.form-control {
	border: 1px solid #333;
	border-top: none;
	border-right: none;
	border-left: none;
	display: block;
	width: 100%;
	height: 3rem;
	padding: 0;
	margin-bottom: 0.5rem;
}
input {
	font-size: inherit
}

input.valid {
	border-bottom: 2px solid $primary;

}
input.invalid {
	border-bottom: 2px solid $tertiary-color;

}

input::placeholder {
  font-size: 1.6rem;
}
