<div class="d-flex flex-column">

	<div class="d-flex flex-row">
	<div class="input-group" [formGroup]="FormGroup">
		<input
			[ngClass]="{'invalid': inputErrors, 'valid': isValid}"
			class="form-control"
			[name]="controlName"
			[formControlName]="controlName"
			(blur)="blurAction()"
			[placeholder]="_placeholder | translate"
			[type]="type"
			[autocomplete]="type === 'password' ? 'new-password' : 'off'"
		/>
	</div>
	<div *ngIf="isRequired && !touched || touched && isValid"> 
		<fa-icon [icon]="successIcon" [ngClass]="{'valid':isValid, 'untouched':!touched }"></fa-icon>
	</div>
		<div *ngIf="touched && !isValid"> 
		<fa-icon [icon]="failIcon" class="invalid"></fa-icon>
	</div>

</div>
	<ng-container *ngIf="inputErrors">
	<ng-container *ngFor="let error of errors">
	<span class="error-feedback"> {{ errorString(error) | translate }}
	</span></ng-container></ng-container>
</div>
